/* This is the core css file for the gallery.
 * Designed by Shunfan Du.
 */

$cornsilk: #FFF8DC;
$green: #BAD4AA;
$tea: #D4D4AA;
$yellow: #EDB458;
$orange: #E8871E;

html {
  font-family: 'Fira Sans', "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.spotlight {
  height: 100vh; // 1 monitor height
  background: url(https://s3-us-west-1.amazonaws.com/perry-asia/tibet/image49.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 3px solid $cornsilk;

  .brand {
    display: inline-block;
    padding: 0.3em 0.8em;
    font-size: 1.2em;
    color: $orange;
    background-color: $cornsilk;
    border-radius: 0 0 5px 0;
  }
}

.main-content {

}

.loading {
  height: 250px;
  line-height: 250px;
  text-align: center;
  font-size: 1.2em;
  color: $tea;
  background-color: $cornsilk;
}

.album {
  >.name {
    max-width: 1440px;
    margin: 30px auto;
    padding: 0 0.5em;
    font-size: 1.8em;
    color: $yellow;
  }

  >.gallery {
    background-color: $cornsilk;

    .item {
    }

    .size23 {
      width: 10%;
    }

    .size32 {
      width: 10%;
    }
  }

  figure {
    margin: 0 0;
    display: inline-block;

    img {
      max-width: 100%;
    }
  }
}

/* Medium desktop */
@media (min-width: 1200px) {
  .size23 {
    width: 10% !important;
  }

  .size32 {
    width: 10% !important;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .size23 {
    width: 20% !important;
  }

  .size32 {
    width: 20% !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .album {
    >.name {
      font-size: 1.5em;
      margin: 22px auto;
    }
  }

  .size23 {
    width: 25% !important;
  }

  .size32 {
    width: 25% !important;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {

  .brand {
    padding: 0.2em 0.6em !important;
    font-size: 1.6em !important;
  }

  .album {
    >.name {
      font-size: 1.3em !important;
      margin: 20px auto !important;
    }
  }

  .size23 {
    width: 33.33% !important;
  }

  .size32 {
    width: 33.33% !important;
  }
}
