/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Variables */

$cornsilk: #FFF8DC;
$green: #BAD4AA;
$tea: #D4D4AA;
$yellow: #EDB458;
$orange: #E8871E;
$black: #222;
$white: #fff;

$header-height: 73px;
$logo-ratio: 0.718875502;

/* Basic features */

html {
  font-family: 'Fira Sans', "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

body {
  background-color: $cornsilk;
}

h1 {
  font-size: 1.3em;
}

p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

/* Make them center */

#header >.container,
#footer >.container,
article.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  background-color: $cornsilk;
  opacity: 0.8;
  z-index: 999;

  >.container {
    color: $orange;
    padding-top: 20px;
    padding-bottom: 20px;

    .logo {
      float: left;
      width: 33px * $logo-ratio;
      height: 33px;
      background: url(https://s3-us-west-1.amazonaws.com/perry-asia/brand/logo.svg);
      background-size: 33px * $logo-ratio 33px;
    }

    .name {
      float: left;
      padding: 0 0 0 0.4em;
    }

    a {
      color: $orange;
    }
  }
}

/* Main */
.main-container {
  min-height: calc(100vh - 73px); // Can not use $header-height
}

article.main-content {
  margin-top: $header-height;

  a {
    color: $orange;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Footer */
#footer {
  font-size: 1.2em;
  background-color: $green;

  >.container {
    color: $cornsilk;
    padding-top: 30px;
    padding-bottom: 30px;

    a {
      color: darken($green, 30%);

      &:hover {
        border-bottom: 3px solid darken($green, 30%);
      }
    }
  }
}

/* Spotlight */
.spotlight-kilimanjaro {
  background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/kilimanjaro.jpg) no-repeat center center;
}

.spotlight-ebc {
  background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/ebc.jpg) no-repeat center center;
}

.spotlight-nepal {
  background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/nepal.jpg) no-repeat center center;
}

.spotlight-tibet {
  background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/tibet.jpg) no-repeat center center;
}

[class|="spotlight"] {
  height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  >.container {
    padding-top: 100vh;

    button.sl-button {
      position: relative;
      bottom: 100px;
      padding: 4px 15px;
      color: $cornsilk;
      font-size: 20px;
      border: 2px solid $cornsilk;
      border-radius: 999px;
      background: 0;
      outline: 0;

      &:hover {
        color: $orange;
        border: 2px solid $orange;
      }
    }
  }
}

/* Gallery and album */
.album {
  margin-top: $header-height;
  text-align: center;

  >.loading {
    display: inline-block;
    margin-top: 50vh;
    font-size: 1.3em;
    color: $tea;
  }

  >.gallery {
    background-color: $cornsilk;

    .item {
    }

    .size23 {
      width: 10%;
    }

    .size32 {
      width: 10%;
    }
  }

  figure {
    margin: 0 0;
    display: inline-block;

    img {
      max-width: 100%;
    }
  }
}

/* Medium desktop */
@media (min-width: 1200px) {
  .size23 {
    width: 10% !important;
  }

  .size32 {
    width: 10% !important;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .size23 {
    width: 20% !important;
  }

  .size32 {
    width: 20% !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  $header-height: 50px;

  .size23 {
    width: 25% !important;
  }

  .size32 {
    width: 25% !important;
  }

  #header {
    font-size: 1.2em;

    >.container {
      padding-top: 12px;
      padding-bottom: 12px;

      .logo {
        width: 26px * $logo-ratio;
        height: 26px;
        background-size: 26px * $logo-ratio 26px;
      }
    }
  }

  #footer {
    font-size: 1.1em;

    >.container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .main-container {
    min-height: calc(100vh - 50px); // Can not use $header-height
  }

  article.main-content {
    margin-top: $header-height;

    p {
      font-size: 16px;
    }
  }

  #spotlights {
    margin-top: $header-height;
  }

  .spotlight-kilimanjaro {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/kilimanjaro-mobile.jpg) no-repeat center center;
  }

  .spotlight-ebc {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/ebc-mobile.jpg) no-repeat center center;
  }

  .spotlight-nepal {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/nepal-mobile.jpg) no-repeat center center;
  }

  .spotlight-tibet {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/tibet-mobile.jpg) no-repeat center center;
  }

  [class|="spotlight"] {
    height: auto;
    background-size: 100% !important;

    >.container {
      position: relative;
      padding-top: calc(100% * 2/3 - 40px);

      button.sl-button {
        display: block;
        margin: 0 auto;
        bottom: 20px;
      }
    }
  }

  .album {
    margin-top: $header-height;
    
    >.gallery {
      margin-top: $header-height;
    }
  }
}

/* For retina display */
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .spotlight-kilimanjaro {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/kilimanjaro-mobile@2x.jpg) no-repeat center center;
  }

  .spotlight-ebc {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/ebc-mobile@2x.jpg) no-repeat center center;
  }

  .spotlight-nepal {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/nepal-mobile@2x.jpg) no-repeat center center;
  }

  .spotlight-tibet {
    background: url(https://s3-us-west-1.amazonaws.com/perry-asia/spotlight/tibet-mobile@2x.jpg) no-repeat center center;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .size23 {
    width: 33.33% !important;
  }

  .size32 {
    width: 33.33% !important;
  }

  #footer {
    font-size: 1.1em;

    >.container {
      padding: 18px 0 !important;
      text-align: center;

      .push-right {
        float: none;
        display: block;
      }
    }
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.push-right {
  float: right;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
