<footer id="footer">
  <div class="container">
    &#169; 2015 Shunfan Du <%= link_to 'CC BY 4.0', '/copyright' %>
    <div class="push-right">
      Powered by <%= link_to 'Middleman', 'https://middlemanapp.com/' %>
    </div>
  </div>
</footer>
