---
---
<div id="spotlights">
  <div class="spotlight-ebc">
    <button class="sl-button" onclick="location.href='/ebc'">EBC Trekking</button>
  </div>
  <div class="spotlight-nepal">
    <button class="sl-button" onclick="location.href='/nepal'">Nepal Traveling</button>
  </div>
  <div class="spotlight-tibet">
    <button class="sl-button" onclick="location.href='/tibet'">Tibet Traveling</button>
  </div>
</div>
