---
---
<div id="spotlights">
  <div class="spotlight-kilimanjaro">
    <div class="container">
      <button class="sl-button" onclick="location.href='/kilimanjaro'">Mount Kilimanjaro</button>
    </div>
  </div>
  <div class="spotlight-ebc">
    <div class="container">
      <button class="sl-button" onclick="location.href='/ebc'">EBC Trekking</button>
    </div>
  </div>
  <div class="spotlight-nepal">
    <div class="container">
      <button class="sl-button" onclick="location.href='/nepal'">Nepal Traveling</button>
    </div>
  </div>
  <div class="spotlight-tibet">
    <div class="container">
      <button class="sl-button" onclick="location.href='/tibet'">Tibet Traveling</button>
    </div>
  </div>
</div>
